body, h1, p, h2 {
    margin: 0;
}

body {
    background-color: #000;
}

.ir{
    display: none;
}

.header {
    height: 50vw;
    max-height: 1000px;
    background-image: url(images/cover.png);
    background-size: cover;
    box-shadow: inset 0 -200px 500px black;
    position: relative;
}

.title {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: fit-content;
    font-size: 6rem;
    padding-left: 50px;
    font-weight: normal;
}

.new {
    color: #fff;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
    padding: 3px 15px;
    border-radius: 5px;
    background-color: rgb(255, 68, 0);
    letter-spacing: 5px;
    box-shadow: 0 5px rgb(216, 59, 2);
}

.main {
    background-color: black;
    margin: 30px 50px 100px;
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
}

.description {
    width: 60%;
}

.movie-description {
    color: #a2a2a2;
    font-size: 13px;
    line-height: 2;
    font-weight: bold;
    word-break: keep-all;
    
    margin-bottom: 20px;
}

.genre {
    position: absolute;
    color: #fff;
    left: 80%;
    margin-top: -150px;
    font-size: 15px;
}

.genre-group {
    margin-bottom: 12px;
}

.genre-group:nth-child(1) {
    margin-top: 20px;
}

.genre-item {
    color: #a2a2a2;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: normal;
    margin: 3px;
}

.ratings, .casts {
    position: absolute;
    color: #fff;
    left: 80%;
    font-size: 15px;
    
}

.ratings {
    margin-top: 30px;
}

.ratings div::before {
    display: block;
    content: '';
    margin-top: 20px;
    width: 120px;
    height: 40px;
    background-size: 200px;
    background-image: url(images/happy.png);
    background-position: 0px 40px;
    position: relative;
}

.ratings div::after {
    display: block;
    content: '';
    width: 80px;
    height: 40px;
    background-size: 200px;
    background-image: url(images/happy.png);
    position: absolute;
    top: 40px;
    left: 120px;
}

.casts {
    bottom: 0;
}

.casts-img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    border: 5px solid #000;
}

.casts-img:nth-child(1) {
    position: relative;
}

.casts-img:nth-child(2) {
    position: absolute;
    left: 50px;
}

.casts-img:nth-child(3) {
    position: absolute;
    left: 100px;
}

.casts-img:nth-child(4) {
    position: absolute;
    left: 150px;
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 4rem;
    }
}